* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	display: flex;
	height: 100vh;
	justify-content: center;
	flex-direction: column;
	background-color: #e6e9f8;
}

:root {
	--input-border: #8b8a8b;
}
